<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration debug="true">
  <timestamp key="bySecond" datePattern="yyyyMMddHHmmss"/>
  <property name="log.dir" value="logs/${bySecond}"/>
  <property name="graphs.log.dir" value="${log.dir}/graphs" scope="context"/>

  <appender
    class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender" name="ConsoleAppender">
    <appendTimeout>-1</appendTimeout>
    <appender class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames">
          <levelValue>[ignore]</levelValue>
          <logger>[ignore]</logger>
          <thread>[ignore]</thread>
          <timestamp>[ignore]</timestamp>
          <version>[ignore]</version>
        </fieldNames>
        <includeContext>false</includeContext>
        <includeMdcKeyName>sid</includeMdcKeyName>
        <findAndRegisterJacksonModules>false</findAndRegisterJacksonModules>
        <jsonFactoryDecorator class="io.sharetrace.logging.LoggingDecorator"/>
      </encoder>
    </appender>
  </appender>

  <appender
    class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender" name="EventsAppender">
    <appendTimeout>-1</appendTimeout>
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames">
          <levelValue>[ignore]</levelValue>
          <logger>[ignore]</logger>
          <thread>[ignore]</thread>
          <timestamp>[ignore]</timestamp>
          <version>[ignore]</version>
        </fieldNames>
        <includeContext>false</includeContext>
        <includeMdcKeyName>sid</includeMdcKeyName>
        <findAndRegisterJacksonModules>false</findAndRegisterJacksonModules>
        <jsonFactoryDecorator class="io.sharetrace.logging.LoggingDecorator"/>
      </encoder>
      <immediateFlush>false</immediateFlush>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${log.dir}/events/%d{yyyyMMdd}-%i.log.gz</fileNamePattern>
        <maxFileSize>1GB</maxFileSize>
        <maxHistory>100</maxHistory>
        <totalSizeCap>100GB</totalSizeCap>
      </rollingPolicy>
    </appender>
  </appender>

  <appender
    class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender" name="MetricsAppender">
    <appendTimeout>-1</appendTimeout>
    <appender class="ch.qos.logback.core.FileAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames">
          <levelValue>[ignore]</levelValue>
          <logger>[ignore]</logger>
          <thread>[ignore]</thread>
          <timestamp>[ignore]</timestamp>
          <version>[ignore]</version>
        </fieldNames>
        <includeContext>false</includeContext>
        <includeMdcKeyName>sid</includeMdcKeyName>
        <findAndRegisterJacksonModules>false</findAndRegisterJacksonModules>
        <jsonFactoryDecorator class="io.sharetrace.logging.LoggingDecorator"/>
      </encoder>
      <file>${log.dir}/metrics.log</file>
      <immediateFlush>false</immediateFlush>
    </appender>
  </appender>

  <appender
    class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender"
    name="SettingsAppender">
    <appendTimeout>-1</appendTimeout>
    <appender class="ch.qos.logback.core.FileAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames">
          <levelValue>[ignore]</levelValue>
          <logger>[ignore]</logger>
          <thread>[ignore]</thread>
          <timestamp>[ignore]</timestamp>
          <version>[ignore]</version>
        </fieldNames>
        <includeContext>false</includeContext>
        <includeMdcKeyName>sid</includeMdcKeyName>
        <findAndRegisterJacksonModules>false</findAndRegisterJacksonModules>
        <jsonFactoryDecorator class="io.sharetrace.logging.LoggingDecorator"/>
      </encoder>
      <file>${log.dir}/settings.log</file>
      <immediateFlush>false</immediateFlush>
    </appender>
  </appender>

  <root level="info">
    <appender-ref ref="ConsoleAppender"/>
  </root>
  <logger name="EventsLogger" level="info" additivity="false">
    <appender-ref ref="EventsAppender"/>
  </logger>
  <logger name="MetricsLogger" level="info" additivity="false">
    <appender-ref ref="MetricsAppender"/>
  </logger>
  <logger name="SettingsLogger" level="info" additivity="false">
    <appender-ref ref="SettingsAppender"/>
  </logger>
</configuration>
