<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration debug="true">
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.core.FileAppender"/>
    <import class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"/>
    <import class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender"/>
    <import class="net.logstash.logback.encoder.LogstashEncoder"/>
    <import class="net.logstash.logback.fieldnames.ShortenedFieldNames"/>

    <timestamp key="bySecond" datePattern="yyyyMMddHHmmss"/>
    <variable name="logDirectory" value="logs/${bySecond}" scope="context"/>

    <appender name="BaseConsoleAppender" class="ConsoleAppender">
        <encoder class="LogstashEncoder">
            <fieldNames class="ShortenedFieldNames">
                <level>[ignore]</level>
                <levelValue>[ignore]</levelValue>
                <logger>[ignore]</logger>
                <message>[ignore]</message>
                <thread>[ignore]</thread>
                <timestamp>[ignore]</timestamp>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="ConsoleAppender" class="LoggingEventAsyncDisruptorAppender">
        <appendTimeout>-1</appendTimeout>
        <appender-ref ref="BaseConsoleAppender"/>
    </appender>

    <appender name="BaseFileAppender" class="RollingFileAppender">
        <file>${logDirectory}/events.log</file>
        <encoder class="LogstashEncoder">
            <fieldNames class="ShortenedFieldNames">
                <level>[ignore]</level>
                <levelValue>[ignore]</levelValue>
                <logger>[ignore]</logger>
                <message>[ignore]</message>
                <thread>[ignore]</thread>
                <timestamp>[ignore]</timestamp>
                <version>[ignore]</version>
            </fieldNames>
            <includeContext>false</includeContext>
        </encoder>
        <immediateFlush>false</immediateFlush>
        <rollingPolicy class="FixedWindowRollingPolicy">
            <fileNamePattern>${logDirectory}/events-%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="SizeBasedTriggeringPolicy">
            <maxFileSize>1GB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="EventsAppender" class="LoggingEventAsyncDisruptorAppender">
        <appender-ref ref="BaseFileAppender"/>
        <appendTimeout>-1</appendTimeout>
    </appender>

    <appender name="MetricsFileAppender" class="FileAppender">
        <encoder class="LogstashEncoder">
            <fieldNames class="ShortenedFieldNames">
                <level>[ignore]</level>
                <levelValue>[ignore]</levelValue>
                <logger>[ignore]</logger>
                <message>[ignore]</message>
                <thread>[ignore]</thread>
                <timestamp>[ignore]</timestamp>
                <version>[ignore]</version>
            </fieldNames>
            <includeContext>false</includeContext>
        </encoder>
        <file>${logDirectory}/metrics.log</file>
        <immediateFlush>false</immediateFlush>
    </appender>

    <appender name="MetricsAppender" class="LoggingEventAsyncDisruptorAppender">
        <appendTimeout>-1</appendTimeout>
        <appender-ref ref="MetricsFileAppender"/>
    </appender>

    <appender name="SettingsFileAppender" class="FileAppender">
        <encoder class="LogstashEncoder">
            <fieldNames class="ShortenedFieldNames">
                <level>[ignore]</level>
                <levelValue>[ignore]</levelValue>
                <logger>[ignore]</logger>
                <message>[ignore]</message>
                <thread>[ignore]</thread>
                <timestamp>[ignore]</timestamp>
                <version>[ignore]</version>
            </fieldNames>
            <includeContext>false</includeContext>
        </encoder>
        <file>${logDirectory}/settings.log</file>
        <immediateFlush>false</immediateFlush>
    </appender>

    <appender name="SettingsAppender" class="LoggingEventAsyncDisruptorAppender">
        <appendTimeout>-1</appendTimeout>
        <appender-ref ref="SettingsFileAppender"/>
    </appender>

    <root level="info">
        <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger name="EventsLogger" level="info" additivity="false">
        <appender-ref ref="EventsAppender"/>
    </logger>
    <logger name="MetricsLogger" level="info" additivity="false">
        <appender-ref ref="MetricsAppender"/>
    </logger>
    <logger name="SettingsLogger" level="info" additivity="false">
        <appender-ref ref="SettingsAppender"/>
    </logger>
</configuration>